{% extends "blog/layout.html.twig" %}

{% block title %} {{parent()}} - Modifier - {{id}} {% endblock %}

{% block body %}
    <h2>Modifier article Id= {{id}}</h2>
    {% include "blog/form.html.twig" %}
{% endblock %}
